To get rid of the `console.log` errors related to MailChimp and reCapctha:

- 1 Ask for the the credentials on Slack
- 2 Create your local `.env` with the credentials that will not be tracked into our repository for security reasons

MAILCHIMP_API_KEY={Add the key}
MAILCHIMP_AUDIENCE_ID={Add the ID}
NEXT_PUBLIC_RECAPTCHA_SITE_KEY={Add the key}
RECAPTCHA_SECRET_KEY={Add the key}
NEXT_PUBLIC_GA_MEASUREMENT_ID={Add the key}
MAILJET_API_KEY={Add the key}
MAILJET_API_SECRET={Add the key}