.next
.idea
node_modules
.env
.DS_Store
yarn-error.log

# PWA files
**/public/sw.js
**/public/sw.js.map
**/public/worker-*.js
**/public/worker-*.js.map
**/public/workbox-*.js
**/public/workbox-*.js.map

# typescript
*.tsbuildinfo