@use '@/styles/mixins' as *;

.blogSearch {
  display: flex;
  padding-top: 2.5rem;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: flex-start;

  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}
