@use '@/styles/mixins' as *;

.innerContent {
  margin: 0 auto;
  padding-bottom: 4rem;
  justify-content: center;

  @include desktop-breakpoint-plus {
    display: flex;
  }
}

.cardColumnSwiper {
  margin-bottom: 5rem;

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--dark-bg);
  }
}
