//Mixins
@use './variables' as *;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: $large-desktop-breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $lg-mobile-breakpoint) {
    @content;
  }
}
