// Media Query Breakpoints
$sm-mobile-breakpoint: 350px;
$mobile-breakpoint: 578px;
$lg-mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint-minus: 1023px;
$desktop-breakpoint: 1024px;
$desktop-breakpoint-plus: 1025px;
$medium-desktop-breakpoint: 1250px;
$large-desktop-breakpoint: 1440px;
$extra-large-breakpoint: 2560px;

//Colors
$primary-content-color: #292929;
$primary-bg-color: #eaeaea;
$dark-bg-color: #023047;
$light-bg-color: #8cd5e8;
$primary-accent-color: #ffcc4c;
$secondary-accent-color: #19aad1;
$error: #be1313;
$black: #000000;
$white: #ffffff;
$transparent: transparent;
$box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
$box-shadow-bottom: 0 10px 20px -5px rgba(0, 0, 0, 0.15);

//Fonts
$copy-font: 'Assistant';
$heading-font: 'Open Sans';
