// Media Query Breakpoints
$sm-mobile-breakpoint: 350px;
$mobile-breakpoint: 578px;
$lg-mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint-minus: 1023px;
$desktop-breakpoint: 1024px;
$desktop-breakpoint-plus: 1025px;
$medium-desktop-breakpoint: 1250px;
$large-desktop-breakpoint: 1440px;
$extra-large-breakpoint: 2560px;

//Fonts
$copy-font: 'Assistant';
$heading-font: 'Open Sans';
