// Media Query Breakpoints
$mobile-breakpoint: 320px;
$lg-mobile-breakpoint: 578px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-breakpoint: 2560px;

//Colors
$primary-content-color: #292929;
$primary-bg-color: #eaeaea;
$dark-bg-color: #023047;
$light-bg-color: #8cd5e8;
$primary-accent-color: #ffcc4c;
$secondary-accent-color: #19aad1;
$black: #000000;
$white: #ffffff;
$transparent: transparent;

//Fonts
$copy-font: 'Assistant';
$heading-font: 'Open Sans';
