@use './variables' as *;
@use './mixins' as *;

.btn {
  padding: 0.5rem 2rem;
  color: $white;
  background-color: $primary-content-color;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  min-width: 16rem;
  display: inline-block;
  border: 1px solid $primary-content-color;
  text-decoration: none !important;
  @include transition(all 0.3s ease);

  &:hover {
    opacity: 1 !important;
  }

  &.inverted-grey {
    &:hover {
      color: $primary-content-color;
      background-color: $transparent;
    }
  }

  &.inverted-white {
    border: 1px solid $white;
    color: $primary-content-color;
    background-color: $white;
    &:hover {
      color: $white;
      background-color: $transparent;
    }
  }
}
