@import 'variables';

.btn {
  padding: 8px 32px;
  color: #fff;
  background-color: #292929;
  border-radius: 32px;
  transition: 0.3s ease;
  cursor: pointer;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  align-items: center;
  text-align: center;
  min-width: 256px;
}

.btn:hover {
  opacity: 0.6;
}
