@use './variables' as *;
@use './mixins' as *;

.inner__content {
  margin: 0 auto;
  padding-bottom: 12rem;
  justify-content: center;

  @include desktop-breakpoint-plus {
    display: flex;
  }

  @include desktop-breakpoint-minus {
    padding-bottom: 5rem;
  }
}
