@use './variables' as *;
@use './mixins' as *;

.container {
  background-color: $white;
  max-width: $large-desktop-breakpoint;
  margin: 0 auto;

  .inner__content {
    margin: 0 auto;
    padding-bottom: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include desktop-breakpoint-minus {
      padding-bottom: 5rem;
    }
  }
}
