@use './variables' as *;
@use './mixins' as *;

.card {
  margin: 1rem 1rem 0 0.5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: $box-shadow;
  min-width: 32%;
  height: 37rem;

  @include small-mobile {
    height: 42rem;
  }

  @include tablet {
    height: 42rem;
  }

  @include desktop {
    height: 37rem;
    margin: 1.5rem 1.5rem 0 1.5rem;
    &:first-child,
    &:last-child {
      margin: 1.5rem 0.5rem 0 0.5rem;
    }
  }

  .title {
    font-family: $heading-font;
    font-weight: bold;
    font-size: 1.75rem;
    color: $primary-content-color;
    margin: 1rem 0 0 0;
    line-height: unset;

    @include tablet {
      font-size: 2.25rem;
    }
  }

  .content {
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .card__image {
    width: 100%;
    height: 18rem;
    position: relative;

    .img {
      border-radius: 0.25rem;
    }
  }

  //About Us
  &.our-goals {
    background-color: $primary-accent-color;
    max-height: 35rem;

    .title {
      font-size: 3.5rem;
      text-align: center;
    }

    @include desktop {
      max-height: 37rem;
      .title {
        font-size: 5rem;
      }

      .content {
        p {
          font-size: 1.8rem;
          line-height: 2.2rem;
        }
      }
    }
  }

  // Contact us cards

  &.cards {
    // position: absolute;
    // background-color: red;

    // z-index: 12;
    // top: -100%;
  }
}
