@use './mixins' as *;
@use './variables' as *;

.contact {
  background-color: $light-bg-color;
  height: 42rem;
  position: relative;

  &__formAndDecorations {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      bottom: 48%;
      right: 4%;
      z-index: 11;
    }

    @include desktop {
      bottom: 52%;
      right: 8%;
    }
  }

  &__yellowBracket {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

    @include mobile {
      display: none;
    }

    @include tablet {
      position: absolute;
      top: 28%;
      right: 120%;
      width: 8rem;
    }

    @include desktop {
      top: 25%;
      right: 120%;
    }

    @include desktop-breakpoint-plus {
      top: 25%;
      right: 140%;
    }
  }

  &__yellowColon {
    @include tablet {
      position: absolute;
      top: -10%;
      right: -5%;
    }

    @include desktop {
      right: -15%;
    }
  }

  @include desktop-breakpoint-minus {
    img {
      display: none;
    }
  }

  &__form {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
      max-width: 100%;
      width: 26rem;
      padding: 2rem 0;
    }
  }

  &__errorMessage {
    color: $white;
    margin: 0.1rem 0 1rem;
    font-size: 1.2rem;
    height: 1.5rem;
  }

  &__input {
    display: block;
    font-size: 1.2rem;
    border-radius: 1rem;
    height: 2rem;
    padding: 1.2rem 1.25rem;
    border: 1px solid $dark-bg-color;
    max-width: 100%;
    width: 24rem;

    @include large-desktop {
      font-size: 1.5rem;
      height: 3rem;
      border-radius: 3rem;
      max-width: 25rem;
    }

    &::placeholder {
      color: $primary-content-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__message {
    font-family: inherit;
    height: 13rem;
    border-radius: 1rem;

    @include desktop {
      border-radius: 1.5rem;
    }
  }

  &__subscribe {
    display: flex;
    margin-bottom: 1.25rem;
    opacity: 0.6;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__subscribeInput {
    width: 1.5rem;
    margin-right: 10px;
  }

  @include desktop {
    height: 42rem;
  }

  &__response_message {
    position: absolute;
    right: 8%;
    bottom: -5%;
    width: 26rem;
    margin: auto;

    @include mobile {
      position: unset;
      margin-top: 1rem;
    }
  }

  &__respseonErrorMessage {
    position: absolute;
    right: 8%;
    bottom: -15%;
    width: 26rem;
    margin: auto;
    color: $error;

    @include mobile {
      position: unset;
    }
  }

  @include mobile {
    height: unset;
    padding-bottom: 2rem;
  }
}
