@import "mixins";

.footer {
  width: 100%;
  background-color: #eaeaea;
}

.footerList {
  list-style: none;
  padding: 0;
}

.container {
  border-bottom: 1px solid #bebebe;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.columnLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerItem {
  +.footerItem {
    margin-top: 0.5rem;
  }

  &:hover,
  &:focus {
    color: #666;
  }
}

.logo {
  border-radius: 50%;
  height: 4.5em;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.subscribe {
  h2 {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
  }

  p {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    color: #696969;
  }

  .text {
    font-size: 1rem;
    color: #000;
  }

  input {
    height: 2.4rem;
    width: 65%;
    border-radius: 5px 0 0 5px;
    text-indent: 5%;
    border: 1px solid #bebebe;
  }

  button {
    height: 2.4rem;
    width: 35%;
    border-radius: 0 5px 5px 0;
    background-color: #696969;
    color: #fff;
    font-size: 0.7rem;
    border: 1px solid #696969;
    text-transform: uppercase;
    @include transition(opacity 0.3s ease);

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.socialMedia {
  margin: 1.8rem 0 1rem;
  display: flex;
  justify-content: center;

  +.socialMedia {
    margin-left: 1rem;
  }

  img {
    height: 2rem;

    &:hover {
      opacity: 65%;
    }
  }
}

.copyright {
  font-size: 0.8rem;
  color: #696969;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  padding: 0.5rem 0;
}

@media (min-width: 578px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .columnLeft {
    display: flex;
    flex-direction: column;
  }

  .columnRight {
    width: 55%;
    display: flex;
    flex-direction: column;
  }

  .subscribe {
    h2 {
      margin-top: 0.5rem;
    }

    button {
      font-size: 0.875rem;
      width: 30%;
    }

    input {
      width: 70%;
    }
  }

  .socialMedia {
    justify-content: flex-end;
    margin: 1rem 1rem 0.5rem 0;
  }

  .copyright {
    text-align: left;
  }
}