@use './variables' as *;
@use './mixins' as *;

.footer {
  background-color: $dark-bg-color;
  color: $white;

  &__inner {
    padding: 2.5rem 0;
    text-align: center;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  &__nav {
    @include tablet {
      min-width: 6.5rem;
      order: 2;
    }

    @include large-desktop {
      font-size: 1.5rem;
    }
  }

  &__navList {
    padding: 0;
  }

  &__navItem {
    margin: 0.5rem 0;
  }

  &__logo {
    display: block;
    max-width: 12.5rem;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    @include tablet {
      margin: 0;
      max-width: max-content;
    }
  }
}
