@use './variables' as *;
@use './mixins' as *;

.footer {
  background-color: $dark-bg-color;
  color: $white;

  &__section {
    padding: 1rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      padding: 1rem 2rem;
    }

    @include large-desktop {
      padding: 1rem 0;
      max-width: 79rem;
      margin: 0 auto;
    }
  }

  &__imageWrapper {
    text-align: center;
  }

  &__nav {
    @include tablet {
      margin-right: 6.5rem;
      order: 2;
    }

    @include large-desktop {
      margin-right: 5.5rem;
      font-size: 1.5rem;
    }
  }

  &__navList {
    padding: 0;
  }

  &__navItem {
    margin: 0.5rem 0;
  }
}
