.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
  border: 1px solid red;
}

/* code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.logo {
  height: 1em;
}

@media (min-width: 578px) {
  /* .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
}
