@use './variables' as *;
@use './mixins' as *;

.footer {
  background-color: $dark-bg-color;
  color: $white;

  &__inner {
    padding-top: 2.5rem;
    text-align: center;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  }

  &____navSocialsDiv {
    display: flex;
    // flex-direction: column;
    
  }

  &__nav {

    @include tablet {
      min-width: 6.5rem;
      order: 2;
    }

    @include large-desktop {
      font-size: 1.5rem;
      order: 2;
    }
  }

  &__navList {
    padding: 0;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  &__navItem {
    margin: 0.5rem 0;
    
    @include tablet {
      padding-left: 60px;
    }
  }

  &__logo {
    display: block;
    max-width: 12.5rem;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    @include tablet {
      margin: 0;
      max-width: max-content;
    }
  }

  //social

  &__socialIcons {
  

    @include tablet {
   
    }

    @include large-desktop {
      
    }
  }

  &__socialList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    @include tablet {
      justify-content: end;
    }
  }

  &__socialItem {
    cursor: pointer;
    width: 47px;

    @include tablet {
      padding-left: 28px;
      max-width: 68px;
      max-width: 100%;
    }

    @include large-desktop {
      max-width: 100%;
      padding-left: 28px;
      width: 68px;
    }
  }

  &__copyright {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 2.5rem;

    @include tablet {
      text-align: end;
    }
  }
}
