@import "mixins";
@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $primary-content-color;
}

a {
  color: inherit;
  text-decoration: none;
  @include transition(all .3s ease);
}

* {
  box-sizing: border-box;
}

.not-found {
  text-align: center;
}

.not-found a {
  color: $accent-color;
  
  &:hover {
    opacity: 0.6;
  }
}
