@use 'mixins' as *;
@use 'variables' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $copy-font, sans-serif;
  color: $primary-content-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font, sans-serif;
}

p,
li {
  font-size: 1.25rem;
  line-height: 1.938rem;
  @include desktop {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 3rem;
  line-height: 5rem;
  @include desktop {
    font-size: 5.5rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 5rem;
  @include desktop {
    font-size: 4.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.938rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  @include transition(all 0.3s ease);

  &:hover {
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
}

.not-found,
.about-us,
.contact-us,
.blog,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 10%;
  align-items: center;
}
