:root {
  --bg-contact-card: #ffffff;
  --bg-color: #eaeaea;
  --color-black: #000000;
  --color-blue: #0000ee;
  --color-dark-grey: #9ba39d;
  --color-grey: #d9d9d9;
  --color-white: #ffffff;
  --color-light-bg: #8cd5e8;
  --color-primary-accent: #ffcc4c;
  --color-primary-content: #292929;
  --color-transparent: transparent;
  --color-box-shadow: rgba(0, 0, 0, 0.08);
  --dark-bg: #023047;
  --error: #be1313;
}
