hr.divider {
  border-top: 1px solid #eaeaea;
  width: 100%;
  margin: 4rem 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.centerText {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width: 50rem; */
  margin: 3rem auto;
}

.card {
  height: 13rem;
  max-width: 40%;
  margin: 1.5rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  text-decoration: none;
  border: 2px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #000;
  border-color: #666;
}

.card p {
  margin: 0 1rem;
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

.button {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
}

.button:hover {
  opacity: 65%;
}

@media (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 728px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin: 3rem 0;
  }

  .card {
    max-width: none;
    margin: 0.5rem;
    width: 90%;
    min-height: 7rem;
  }
}
