@use './variables' as *;
@use './mixins' as *;

.title {
  text-align: center;
}

.description {
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
  max-width: $large-desktop-breakpoint;
  margin: 0 auto;
  padding: 5rem 0;
}

.bracket {
  left: 0;
  position: absolute;
  z-index: 2;
  transform: translate(10rem, -5rem);

  @include desktop-breakpoint-plus {
    transform: translate(50%, -5rem);
    width: 30%;
  }

  @include desktop-breakpoint-minus {
    display: none;
  }
}

.stick {
  right: 0;
  position: absolute;
  z-index: 2;
  transform: translate(-10rem, -5rem);

  @include desktop-breakpoint-plus {
    transform: translate(-50%, -5rem);
    width: 30%;
  }

  @include desktop-breakpoint-minus {
    display: none;
  }
}
