@import 'variables';

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding: 3rem 0;
}

@media (min-width: $desktop-breakpoint) {
  .container {
    width: 80%;
  }
}
