@use './variables' as *;
@use './mixins' as *;

.card {
  margin: 1rem 1rem 0 0.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  min-height: 35rem;
  background-color: transparent;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;

  @include tablet {
    height: 30rem;
    width: 40%;
  }

  @include medium-desktop {
    min-width: 20%;
    max-width: 20%;
    margin: 1.5rem;
  }

  .name {
    font-style: italic;
    font-family: $heading-font;
    font-size: 1.5rem !important;
    color: $primary-content-color;
    margin-bottom: 0px;
    line-height: unset;

    @include tablet {
      font-size: 2.25rem;
    }
  }

  .title {
    font-family: $heading-font;
    font-size: 1rem !important;
    color: $primary-content-color;
    text-align: left;
    line-height: normal;
    margin: 0px !important;

    @include tablet {
      font-size: 2rem;
    }
  }

  .position {
    font-family: $heading-font;
    font-size: 1rem !important;
    color: $primary-content-color;
    text-align: left;
    line-height: normal;
    margin: 0px !important;

    @include tablet {
      font-size: 2rem;
    }
  }

  .content {
    align-items: center;
    margin: auto;
  }

  p {
    font-size: 1rem !important;
    text-align: left;
    line-height: normal;
  }

  .links {
    font-size: 1rem !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1rem;

    a {
      padding-left: 1rem;
      text-decoration: underline;
      text-underline-offset: 2px;

      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }

  .card__image {
    min-width: 10rem;
    min-height: 10rem;
    position: relative;
    margin: 0.5rem auto;

    img {
      border-radius: 50%;
    }
  }
}
