@use './variables' as *;
@use './mixins' as *;

// .navContainer {
//   width: 80%;
//   position: relative;
//   margin: 0 auto;
// }

// .header {
//   width: 100%;
//   padding: 2.25rem 0;
//   background-color: $dark-bg-color;
// }

// .align {
//   display: flex;
//   align-items: center;
// }

// .nav {
//   width: 100%;
//   overflow: hidden;
//   visibility: hidden;
//   height: 0;
//   position: absolute;
//   font-size: 1em;
// }

// .navToggle {
//   cursor: pointer;
//   border: 0;
//   width: 3em;
//   height: 3em;
//   padding: 0;
//   background-color: $transparent;
//   color: $black;
//   transition: opacity 250ms ease;
//   position: absolute;
//   right: 0;

//   &:hover,
//   &:focus {
//     opacity: 0.6;
//   }
// }

// .hamburger {
//   width: 50%;
//   position: relative;

//   &,
//   &::before,
//   &::after {
//     display: block;
//     margin: 0 auto;
//     height: 3px;
//     background-color: $primary-content-color;
//   }

//   &::before,
//   &::after {
//     content: '';
//     width: 100%;
//   }

//   &::before {
//     transform: translateY(-6px);
//   }

//   &::after {
//     transform: translateY(3px);
//   }
// }

// .navVisible {
//   visibility: visible;
//   height: auto;
//   position: relative;
//   text-align: start;
//   padding-top: 1em;
// }

// .navList {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .navItem {
//   margin-top: 0.75em;
// }

// .navLink {
//   text-decoration: none;
//   color: $white;

//   &:focus,
//   &:hover {
//     opacity: 0.6;
//   }
// }

// @media (min-width: $tablet-breakpoint) {
//   .navToggle {
//     display: none;
//   }

//   .nav {
//     visibility: visible;
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     height: auto;
//     position: relative;
//   }

//   .navList {
//     display: flex;
//   }

//   .navItem {
//     margin: 0 0 0 1.5em;
//   }

//   .row {
//     display: flex;
//     justify-content: space-between;
//   }
// }

.header {
  color: $white;
  background-color: $dark-bg-color;
}

.nav {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;

  @include desktop {
    height: 12rem;
    padding: 2rem 5.5rem;
    width: 100%;
    z-index: 100;
  }

  &__logo {
    width: 4.5rem;

    @include desktop {
      width: 11.25rem;
    }
  }

  &__links {
    background-color: $dark-bg-color;
    display: none;
    padding: 1rem 0 2rem 0;
    margin: 0;
    position: relative;
    top: 5rem;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: static;
      padding: 0;
    }

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      left: 0;

      @include desktop {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
      }
    }
  }

  &__link {
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: 400;
    display: block;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__item {
    @include desktop {
      margin-left: 6rem;
    }
  }

  &__hamburger {
    display: block;
    cursor: pointer;

    @include desktop {
      display: none;
    }

    &__bar {
      display: block;
      width: 25px;
      height: 2px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: $white;
    }

    &.active &__bar:nth-child(2) {
      opacity: 0;
    }
    &.active &__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active &__bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  &.sticky {
    position: fixed;
  }
}
