@use './variables' as *;
@use './mixins' as *;

.header {
  color: $white;
  background-color: $dark-bg-color;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;

  @include desktop {
    height: 12rem;
  }
}

.container.sticky {
  background-color: $white;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  color: $dark-bg-color;
  z-index: 2;
  padding: 1rem 0;
  height: 4.5rem;
  box-shadow: rgb(0 0 0 / 5%) 0px 2px 4px 0px;

  & nav {
    width: 90%;
  }

  & span {
    background-color: $dark-bg-color;
  }

  & img {
    filter: brightness(0) saturate(100%);
  }

  & .nav__logo {
    width: 4.5rem;
  }

  & .nav__links {
    @include desktop {
      background-color: $white;
      color: $primary-content-color;
    }
  }

  & .nav__link {
    font-size: 1.2rem;
  }

  & .nav__button {
    @include desktop {
      background-color: $dark-bg-color;
      color: $white;
      padding: 0.125rem;
      min-width: 7rem;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    color: $dark-bg-color;
    background-color: $white;
    min-width: 9rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block;
    border: none;

    @include large-desktop {
      font-size: 1.5rem;
    }

    &.active {
      color: $white;
      background-color: $dark-bg-color;

      @include desktop {
        background-color: $white;
        color: $dark-bg-color;
      }
    }
  }

  &__logo {
    width: 4.5rem;

    @include desktop {
      width: 11.25rem;
    }
  }

  &__links {
    display: none;
    padding: 1rem 0 2rem 0;
    margin: 0;
    position: relative;
    top: 4.5rem;

    @include desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: static;
      padding: 0;
    }

    &.active {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: $white;
      color: $primary-content-color;

      @include desktop {
        flex-direction: row;
        position: static;
        width: auto;
        background-color: $dark-bg-color;
        color: $white;
      }
    }
  }

  &__link {
    font-size: 1.2rem;
    line-height: 2.5;
    font-weight: 400;
    display: block;

    @include large-desktop {
      font-size: 1.5rem;
    }
  }

  &__item {
    @include desktop {
      margin-left: 6rem;
    }
  }

  &__hamburger {
    display: block;
    cursor: pointer;
    background: none;
    border: none;

    @include desktop {
      display: none;
    }

    &__bar {
      display: block;
      width: 25px;
      height: 2px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: $white;
    }

    &.active &__bar:nth-child(2) {
      opacity: 0;
    }
    &.active &__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active &__bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
