@use './variables' as *;
@use './mixins' as *;

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.08);
  font-size: 1.2rem;

  @include mobile {
    width: 80%;
    margin: 3rem auto;
  }

  input[type='search'] {
    height: 100%;
    border: 0;
    padding-left: 1rem;
    width: 16rem;
  }

  button[type='submit'] {
    text-indent: -999px;
    overflow: hidden;
    width: 1.5rem;
    border: 1px solid transparent;
    background: url('/images/svg/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
  }
}
