:root {
  --bg-contact-card: #ffffff;
  --bg-color: #eaeaea;
  --dark-bg: #023047;
  --color-dark-grey: #9ba39d;
  --color-grey: #d9d9d9;
  --color-white: #ffffff;
  --color-primary-content: #292929;
  --color-transparent: transparent;
}

// placeholder colors
[data-theme='dark'] {
  --bg-contact-card: #232431;
  --bg-color: #333;
}

// Theming notes:
/*
Set document data-theme to dark to activate dark theme, for example
  document.documentElement.setAttribute('data-theme', 'dark');
 */
