@use './variables' as *;
@use './mixins' as *;

.section__hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.wrapper {
  background-color: $light-bg-color;
  transition: transform 1s, opacity 1s;

  .inner {
    padding: 5rem 0;
    margin: 0 auto;
    width: 90%;
    max-width: $large-desktop-breakpoint;

    &.get-involved {
      @include desktop-breakpoint-minus {
        padding-bottom: 0;
      }
    }

    &.non-profit {
      @include desktop-breakpoint-minus {
        .inner__content {
          margin-bottom: 0;
        }
      }
    }

    .inner__content {
      margin-bottom: 5rem;

      @include desktop {
        flex-basis: 50%;
        margin-bottom: 0;
      }

      .title {
        font-weight: bold;
        color: $primary-content-color;
        margin: 0;
      }
      .content {
        display: flex;
        align-items: center;
        margin: 3.875rem 0 2.5rem;
        max-width: 39rem;
      }
    }

    .inner__image {
      width: 100%;
      height: 34rem;
      position: relative;

      @include desktop {
        width: 25rem;
      }

      .img {
        border-radius: 0.25rem;
      }
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

//Exports
:export {
  white: $white;
  primary: $primary-content-color;
}
