@use './variables' as *;
@use './mixins' as *;

.container {
  width: 100vw;
  max-width: $large-desktop-breakpoint;
  margin: 0 calc(50% - 50vw);
  background-color: #8cd5e8;

  .inner {
    padding: 5rem 0;
    margin: 0 auto;
    width: 90%;

    .inner__content {
      margin-bottom: 5rem;
      @include desktop {
        flex-basis: 50%;
        margin-bottom: 0;
      }

      .title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem;
        color: $primary-content-color;
        margin: 0;

        @include tablet {
          font-size: 4.5rem;
          line-height: 5rem;
        }
      }
      .content {
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2rem;
        display: flex;
        align-items: center;
        margin: 3.875rem 0 2.5rem;
        max-width: 39rem;
      }
    }

    .inner__image {
      width: 100%;
      height: 34rem;
      position: relative;

      @include desktop {
        width: 25rem;
      }

      .img {
        border-radius: 0.25rem;
      }
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
