@use './variables' as *;
@use './mixins' as *;

.wrapper {
  // background-color: $light-bg-color;
  // background-color: $primary-accent-color;

  .inner {
    padding: 5rem 0;
    margin: 0 auto;
    width: 90%;
    max-width: $large-desktop-breakpoint;

    &.get-involved {
      @include desktop-breakpoint-minus {
        padding-bottom: 0;
      }
    }

    &.non-profit {
      @include desktop-breakpoint-minus {
        .inner__content {
          margin-bottom: 0;
        }
      }
    }

    //bracket img needs to be made smaller for mobile

    //added============================
    &.our-background {
      padding-bottom: 0;
      .inner__content {
        // @include desktop-breakpoint-minus {
        //   margin-bottom: 0;
        // }
        .content {
          max-width: fit-content;
        }
        flex-basis: calc(100% - 34rem);
      }

      .inner__image {
        flex-basis: 30rem;
        // height: 24rem;
        .img {
          max-width: 24rem;
          object-fit: contain;
          transform: scale(0.65);
        }
      }
      
    }

    //added============================

    &.about-content {
      align-items: center;
      padding: 0px;
      width: 100%;
      align-items: flex-start;

      .inner__content {
        @include desktop-breakpoint-minus {
          margin-bottom: 0;
        }
        .content {
          max-width: fit-content;
        }
        flex-basis: calc(100% - 24rem);
      }
      .inner__image {
        flex-basis: 24rem;
        height: 24rem;
        .img {
          max-width: 24rem;
          object-fit: contain;
          transform: scale(0.5);
        }
      }
    }

    .inner__content {
      margin-bottom: 5rem;

      @include desktop {
        flex-basis: 50%;
        margin-bottom: 0;
      }

      .title {
        font-weight: bold;
        color: $primary-content-color;
        margin: 0;
      }
      .content {
        display: flex;
        align-items: center;
        margin: 3.875rem 0 2.5rem;
        max-width: 39rem;
        font-size: 1.5rem;
        line-height: 1.938rem;
        a {
          text-decoration: underline;
          text-underline-offset: 2px;
  
          &:hover {
            opacity: 0.6;
            text-decoration: none;
          }
        }
      }
    }

    .inner__image {
      width: 100%;
      height: 34rem;
      position: relative;

      @include desktop {
        width: 25rem;
      }

      .img {
        border-radius: 0.25rem;
        object-fit: cover;
      }
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

//Exports
:export {
  white: $white;
  primary: $primary-content-color;
  primaryAccent: $primary-accent-color;
  lightBgColor: $light-bg-color;
  //kl added export primaryAccent
}
