@use 'variables';

.container {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  background-color: #8cd5e8;
}
.inner {
  padding: 5rem 0;
  min-height: 50vh;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  max-width: variables.$large-desktop-breakpoint;
}

.title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 5rem;
  color: #292929;
  margin: 0;
  max-width: 39rem;
}
.itemLeft {
  width: 50%;
  text-align: left;
}
.itemRight {
  width: 50%;
  text-align: end;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  margin: 3.875rem 0 2.5rem;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 25.5rem;
  max-height: 34rem;
  border-radius: 0.25rem;
}

@media (max-width: variables.$tablet-breakpoint) {
  .inner {
    flex-direction: column;
    gap: 5rem;
  }
  .itemLeft,
  .itemRight {
    width: 100%;
    text-align: center;
  }
}
